{
	http_port 23000
	https_port 29443
	email "ariel@zplinux.com"
	# debug
}


{$AUTH_HOST_NAME:wip.zplinux.eu}:{$AUTH_HOST_PORT:443}, zplinux.eu:443, zplinux.com:443 {
	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	#tls internal
	encode zstd gzip
}
